<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= item.title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="m-6">
      <h2>Item Details</h2>
    </div>

    <!-- 3 Column Layout -->
    <div class="grid grid-cols-3 m-6 gap">
      <div>
        <p class="bold font-lg">Title</p>
        <p class="font-lg"><%= item.title %></p>
      </div>
      <div>
        <p class="bold font-lg">Target Date:</p>
        <p class="font-lg"><%= item.targetDate ? item.targetDate.toDateString() : 'N/A' %></p>
      </div>
      <div>
        <p class="bold font-lg">Status:</p>
        <p class="font-lg"><%= item.status %></p>
      </div>
      <div>
        <p class="bold font-lg">Priority:</p>
        <p class="font-lg"><%= item.priority %></p>
      </div>
      <div>
        <p class="bold font-lg">Budget:</p>
        <p class="font-lg"><%= item.budget %></p>
      </div>
      <div>
        <p class="bold font-lg">Category:</p>
        <p class="font-lg"><%= item.category %></p>
      </div>
      <div>
        <p class="bold font-lg">Description:</p>
        <p class="font-lg"><%= item.description %></p>
      </div>
    </div>
    <div class="flex justify-between form-footer m-6">
      <div>
        <a href="/bucketList" class="btn btn-secondary align-content-center">Back to List</a>
      </div>
      <div class="flex">
        <form action="/bucketList/<%= item._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-secondary">Delete Item</button>
        </form>
        <a class="btn btn-primary align-content-center mx-4" href="/bucketList/<%= item._id %>/edit">Edit</a>
      </div>
    </div>
  </body>
</html>
